body {
    margin: 0;
    padding: 0;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    overflow-y: hidden;
}
.column-reversed {
    transform: translateY(calc(-100% + 100vh)); 
    animation: reverse-scroll linear forwards;
    animation-timeline: scroll(root block);
}
.column-reversed-firefox {
    transform: none;
    animation: none;
}

#left-col {
    grid-column: 1;
    background-image: url('./pictures/grass.png');
    background-size: 70%;
    background-repeat: repeat-y;
}

#center-col {
    grid-column: 2;
}
#right-col {
    grid-column: 3;
    background-image: url('./pictures/grass2.png');
    background-size: 70%;
    background-repeat: repeat-y;
    background-position: right;
}

.title {
    font-size: 60px;
    text-align: center;
}

#colorMixer {
    width: 380px;
}

#mixerDisplay {
    float: right;
    height: 60px;
    width: 200px;
}

@keyframes reverse-scroll {
    from {
        transform: translateY(calc(-100% + 100vh));
    }
    to {
        transform: translateY(calc(100% - 100vh));
    }
}